<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome !</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    </div>
</div>

<div class="container">
    <form  [formGroup]="storyPointForm" style="display: flex;">
        <label for="fname">Total Story Points: </label><br>
        <input formControlName = "storyPoint" style="margin-left: 10px" type="text" id="fname" name="fname">
        <input style="margin-left: 10px" type="submit" (click)="onSubmit()">
    </form>
    
</div>